# Use these exact versions
streamlit
numpy<2
pandas==2.2.3
plotly
datetime
python-docx
ta
pandas-ta
statsmodels
xgboost
lightgbm
catboost  
shap
scikit-learn<=1.5.1
openpyxl
cmdstanpy
pystan
prophet
scipy
matplotlib
pipenv
lock
arch
TextBlob
tensorflow
pydrive
xlsxwriter
#openbb
backtrader
tabulate
streamlit-option-menu
streamlit-lottie
requests
ollama
kaleido
utils
